name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_ACCOUNT_ID: dummy_id
      CLOUDFLARE_DATABASE_ID: dummy_db_id
      CLOUDFLARE_D1_TOKEN: dummy_token
      GITHUB_CLIENT_ID: dummy_client_id
      GITHUB_CLIENT_SECRET: dummy_client_secret
      BACKUP_API_KEY: dummy_key
      APP_URL: http://localhost
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Format code
        run: bun run format

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'style: auto format'
          branch: ${{ github.head_ref }}

      - name: Lint
        run: bun run lint

      - name: Type check
        run: bun run check
